$accentColor:#f47d42;
$columnWidth:525px;

#html,body{
	margin:0;
	/*margin-top:100px;*/
	background-color: black;
	font-family: Helvetica,arial;
	color:#333;
	font:normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif;
	font-family: 'Helvetica Neue', Arial, sans-serif;

}
a{
	text-decoration: none;
	color:$accentColor;
}
a:hover{
	color:$accentColor;
	
}
strong{
	color:black;
}
p {
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 2em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

#center-wrapper{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	/*ipad portrait*/
	max-width: $columnWidth;
	/*iphone landscape*/
	/*max-width: 480px;*/
	height:100%;
	position:relative;
	.feed-wrapper{
		z-index: 99;
		border: solid 1px black;
	}
	.feed{
		padding:0;
		margin: 0;
	}
}

.header-image{

	color:white;
	background-color:black;
	font-size:60px;
	font-weight:bold;
	//sheight:200px;
	text-align:center;
	img{
		width:100%;
	}
}
.header-subtitle{
	padding:5px 0 20px 0;
	color:white;
	font-size:1.5em;
	line-height: 1.2em;
	background-color:black;
}

.feed li.tweet{
	z-index: 0;
	list-style: none;
	/*padding:10px;*/
	
	min-height:75px;
	position:relative;
	border-bottom: solid 1px black;
	background-color: white;
	word-break: break-word;
	padding: 12px 12px 10px 69px;

	.header{
		position:relative;
		&:hover .full-name{
			text-decoration: underline;
			color:$accentColor;
		}
		&:hover .nickname{
			color:$accentColor;
		};
	}

	.avatar{
		position: absolute;
		top: 0;
		left: -57px;
		width: 48px;
		height: 48px;
		background: #fff;
		border-radius: 4px;
	}

	.full-name{
		color:#333;
		font-weight: bold;
		font-size: 14px;
	}

	.nickname{
		font-size: 12px;
		color:#999;
	}
	.content{
		font-size: 14px
	}
	.date-time{
		position: relative;
		z-index: 50;
		float: right;
		margin-top: 2px;
		font-size: 12px;
		color:#999;
	}

	.detail-expander{
		font-size: 12px
	}
	.detail-content{
		font-size: 12px
	}

	.footer{
		min-height: 16px;
		margin-top: 2px;

		overflow: hidden;
		border-top: 1px solid transparent;

	}

	.expanded.footer{
		padding-top: 10px;
		margin-top: 10px;
		border-color: #e8e8e8;
		border-color: rgba(0,0,0,0.1);
	}
	.tweet-actions{
		position: absolute;
		right: 10px;
		/*bottom: 0;*/
		background: #fff;
		list-style: none;
		display:none;	

	}

	.tweet-actions li{
		float:left;
	}

	.tweet-actions a i{
		margin: 1px 0 0 8px;
		overflow: hidden;
	}
}

.feed li.tweet:hover{
	/*background-color:#999;*/
	/*color:white;*/
}
.feed li.feed-footer{
	@extend li.tweet;
	padding:5px 0;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	box-shadow: inset 0px 2px 10px 0px #9e9e9e;
	color:#9e9e9e;
	min-height: 40px;

	//margin-top:20px;
	.footer-loading{
		position:absolute;
		width:100%;
		top:12px;
		img{
			width:22px;
		}
	}
	.footer-more{
		text-align: center;
		width:100%;
		display: none;
		position:relative;
		top:10px;
	}
	
}
.feed li.feed-footer:hover{
	color:white;
	background-color: $accentColor;
}
.tweet.with-expansion {
	cursor: pointer;
}

#form-wrapper{
	z-index: 100;
	background-color:black;
	position:relative;
}
#message-input{
	width:100%;
	height:75px;
	padding:10px;
	margin:0;
	font-size:14px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;  
	resize:none;
	outline-color:#999;
}

.new-li{
	position:relative;
	/*height of gap*/
	top:-30px;
	/*height of li element*/
	margin-top:-65px;
	background-color: $accentColor !important;
	&.bottom{
		margin-top:-30px;
		background-color:white !important;
		// margin-bottom:10px;
		top:0;
	}
}

.action-bar{
	padding:5px 0;
	width:100%;
	height:30px;
}

#message-submit{
	float: right;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #adadad;
	display:inline-block;
	color:#9c9c9c;
	font-family:'Helvetica Neue', Arial, Helvetica, sans-serif, Helvetica, Arial, sans-serif;
	font-size:14px;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f0f0f0;
	margin: 0px 0 8px 0; 
	font-weight:bold;
	width:79px;
	height:29px;
}

#message-submit:hover{
	color:$accentColor;
}

.ic-mask{
	display: inline-block;
	vertical-align: middle;
	/*background: transparent url(../images/sprite.png) no-repeat 0 0;*/
	background-image: url('../images/twitter_icons.png');
	background-size: 177px 191px;
	background-color:#999;
}
.ic-reply{
	width: 19px;
	height: 15px;
	background-position: 0 -87px;
	
}
.ic-retweet{
	width: 22px;
	height: 15px;
	background-position: -31px -87px;
}
.ic-fav{
	width: 16px;
	height: 15px;
	background-position: -60px -87px;
}


.ic-mask:hover{
	background-color:$accentColor;
}
.expand{
	font-size: 12px;
	color:#999;
	display:none;

}

.with-expansion .expand {
	display:inline-block;
}

.stats-wide{
	font-size: 10px;
	color:#999;
	text-transform: uppercase;
	display:none;
}
.expanded .stats-wide {
	display: inline-block;
}
#notifications{
	color:white;
	font-size: 14px;
	padding:0 5px;
}


.error-text{
	color:$accentColor !important;
}


/*animations*/
.feed li {
	-webkit-transition: all 500ms cubic-bezier(0.480, 0.220, 0.325, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.480, 0.220, 0.325, 1.400); 
	   -moz-transition: all 500ms cubic-bezier(0.480, 0.220, 0.325, 1.400); 
	    -ms-transition: all 500ms cubic-bezier(0.480, 0.220, 0.325, 1.400); 
	     -o-transition: all 500ms cubic-bezier(0.480, 0.220, 0.325, 1.400); 
	        transition: all 500ms cubic-bezier(0.480, 0.220, 0.325, 1.400); /* custom */
}
.feed li:hover {
  -webkit-transition-duration: 0.2s;
     -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;

}